{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[[{"start":{"row":7,"column":6},"end":{"row":7,"column":7},"action":"insert","lines":["s"],"id":14}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":7,"column":6},"end":{"row":7,"column":6},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1496821775602,"hash":"d52bc7c5ac1c2f4fe3a2c3a01a42471dd1b7a0ce"}